{
    "env": {
        "browser": true,
        "es2021": true
    },
    "extends": [
        "plugin:react/recommended",
        "airbnb",
        "prettier"
    ],
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": "latest",
        "sourceType": "module"
    },
    "plugins": [
        "react"
    ],
    "rules": {
        "react/react-in-jsx-scope": "off",
        "camelcase": "error",
        "spaced-comment": "error",
        "quotes": "off",
        "no-duplicate-imports": "error",
        "import/no-unresolved": "off",
        "import/prefer-default-export": "off",
        "react/function-component-definition": "off",
        "arrow-body-style": "off",
        "react/prop-types": "off",
        "react/jsx-wrap-multilines": "off",
        "import/order": "off",
        "prefer-const": "error",
        "no-console": "warn",
        "no-debugger": "warn",
        "import/export": "off",
        "import/extensions": "off",
        "import/named": "off",
        "import/no-extraneous-dependencies": "off",
        "react/jsx-props-no-spreading": "off",
        "react/self-closing-comp": "off"
    }
}
